name: Build

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - env:
        BUILD_PASSWORD: ${{ secrets.BUILD_PASSWORD }}
      run: |
        code=$(curl --silent --output /dev/stderr --write-out "%{http_code}" -u "github:$BUILD_PASSWORD" -X POST 'https://luyuhuang.tech/build')
        test "$code" -eq 200
